.bg-dark-grey {
  // background: #6b6161;
}

.bg-light-grey {
  // background: #938f8f;
}

.t-white {
  color: #fff;
}

.lil-padding {
  padding: 5px;
}

.med-padding-top {
  padding-top: 10px
}

.black-border {
  border: 1px solid black;
}

.black {
  color: black !important;
}


// margins

.lil-margin-bot {
  margin-bottom: 10px
}

.med-margin-top {
  margin-top: 20px
}