// Place all the styles related to the Champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// champ index styles
.index-body {
  height: 200px;
  overflow: scroll;
}

.index-body::-webkit-scrollbar { 
  display: none; 
}

.champ-info {
  // background: #938f8f;
  padding: 0 10px 10px 10px;
  // margin:
  // border-top: 2px solid white;
  // border-top-length: 50px;
}

.champ-info:first-child {
  // border-top: 0px;
  padding-top: 10px !important; 
}

.champ-info:last-child > hr {
  display: none;
}

li {

}

.ability {
  // background: red
}