.index-header
  %h2
    champions:
.index-body
  %ul
    - @champions.each do |c|
      %li{ id: c.name.downcase + 'list' + c.id.to_s, class: 'champ_name' }
        = c.name
        = image_tag c.thumbnail(:small)
        = c.primary_damage_type


:javascript

  $('.champ_name').click(function(e){
    console.log(e.currentTarget.id);
  });