.content
  #champ_list
    = render 'champ_list'
  #champ_show
    = render 'champion_show'

:javascript

  $('.champ_info').click(function(e) {
    champ_id = e.currentTarget.id;
    var el = e.currentTarget;
    var champ_id = $(this).attr('id').split('champ')[1]
    $.ajax( {
      type: 'GET',
      url : '/champions/' + champ_id,
      action : 'show',
      dataType : 'text',
      success : function(responseData) {
        $('#champ_show').html(responseData);
      },
      error : function(xhr, status, errorThrown) {
        var response = $.parseJSON(xhr.responseText);
        console.log("failure")
      }
    } )
  } );

  $('.index-header').click(function() {
    $('#champ_show').html('');
  } );

